.menu{
    padding: 5rem;
    background-color: rgb(255, 255, 255);
    /* margin: 5rem 10rem 5rem 10rem; */
    margin-right: 10rem;
    margin-left: 6rem;
    border-radius: 1rem;
}
.menu-box{
    border-radius: 5px;
    border:2px solid black;
    height: 250px;
    width: 100%;
    height: 100%;
    display: flex;
}
.left{
    float: left;
    width: 50%;
    height: 100%;
    padding: 5px;
    border-right: 2px solid black;
}
.right{
    float: right;
    width: 50%;
    height: 100%;
    padding: 5px;
}
#matrix1{

}
tr {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
  }
  td, th {
    padding: 8px;
  }
  table {
    border-collapse: collapse;
    padding: 5px;
    margin-left: 5px;
  }
  
  td:first-child {
    border-left: 1px solid black;
  }
  
  td:last-child {
    border-right: 1px solid black;
  }
  