
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

h1,h4,p {
  margin: 2%;
}
.sub-container {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
.column {
  float: left;
  padding: 10px;
}

a {
  color: red;
}
/* .column img {
  margin-top: 20px;
  margin-left: 5%;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
}
.button {
  background-color: transparent;
  border-width: 0px;
} */
.img {
  height: 280px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  padding: 10px;
}
.grid-item {
  margin: 5%;
}
